h1 welcome to CMStyx for #{title}
-var eleCount = managedElements.length || 0
-var i = 0
each val, index in managedElements
    -var element = managedElements[index];
    -var headers = Object.getOwnPropertyNames(element[0]);
    -var stxValues = {'title' : element[0].stx_element};
    -var displayHeaders = [];
    each val, index in headers
        -var test = val.split('_');
        -var header = val;
        -if(test.length > 1) header = test[1];
        -displayHeaders.push(header);
        -if (test[0] == 'stx' || test[0] == 'file') {
            -delete displayHeaders[index];}
            //- -delete headers[index];}
    h3 #{stxValues.title}
    each val, index in element
        form(action='./modify/update/' + stxValues.title + '/' + element[index].name enctype='multipart/form-data' method='post')
            table
                -if (index == 0)
                    tr
                        each value, pos in headers
                            if value
                                th #{displayHeaders[pos]}
                tr
                    each header in headers
                        if header
                            td
                                -var special = header.split('_');
                                -var inpType = 'text';
                                -if(special.length > 1) inpType = special[0];
                                -if (inpType != 'file' && inpType != 'stx')
                                    input(type=inpType name=header value=element[index][header])
                    
                    td
                        a(href='./modify/remove?element=' + stxValues.title + '&target=' + element[index].name) X
                    td
                        input(type='submit' value='Y')
                    
    form(action='./modify/add/' + stxValues.title enctype='multipart/form-data' method='post')
        table
            tr
                each val, pos in headers
                    if val
                        -var special = val.split('_');
                        -var inpType = 'text';
                        -if(special.length > 1) inpType = special[0];
                        -if (inpType != 'stx')
                            th #{headers[pos]}
            tr
                each val in headers
                    if val
                        td
                            -var special = val.split('_');
                            -var inpType = 'text';
                            -if(special.length > 1) inpType = special[0];
                            -if (inpType != 'stx')
                                input(type=inpType name=val)
                td
                    input(type='submit' value='+')
    
